#home{
    padding-left:10px;

}

.banner{
    width:980px;
    background-position:top center;
    background-repeat:no-repeat;
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    color: blue;
    text-align: center;
    text-transform: uppercase;
}

.addModleSizes {
    width:200px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10%;
    font-size:xx-large;
    position:static;
}
#right {
    float:right;
    width:100px;
    margin-right:auto;
    margin-left:auto;

}
#left {
    float:left;
    width:100px;
      margin-right:auto;
    margin-left:auto;

}


.designForHomeButtons {
    color: darkkhaki;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-style: none;
    border-color: none;
    width: 450px;
    background-color: azure;
    height: 50px;
}
.rights{
    text-align:right;
    font-size:x-large;
    font-weight:bolder;
}
.btnHomeCancel{
   
    font-size:x-large;
    font-weight:bolder;

}

#addNewModelDiv{
 
 width:800px;
 background:#ffffcc;
 margin-left:auto;
 margin-right:auto;
}
#sentEmailDiv{
 position:absolute;
 left:0;
 top:0;
 width:400px;
}
fieldset{
    font-size:14px;  
    padding:6px; 
    width:733px;   
    line-height:2; 
    margin: 0 auto;
 
    

}
legend{
    border-bottom-right-radius:15px;
}