/* 
    stylesheet for the masterpage
*/
#mainPage {
    background-attachment:fixed;
    background-color:gray;
}
/*
    Customizing the dive content
*/
#allpage
 {
    margin-left:auto;
    margin-right:auto;
    width:1020px;
    background-color:azure;
    border-radius: 15px;
    opacity:0.9;
 
}
/*
    diffent look for Footer
*/
footer {
	background-color:burlywood;
	color:darkgreen;
	font-size: medium;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
footer:hover{
    opacity:0.9;
    color:green;
    font-size:large;
}


